<!DOCTYPE html>
<html>
<body>
<form name="myform" action="recordMatch" method="POST">
  Player 1:<br>
  <select name="player1">
    <option value="Alec">Alec</option>
    <option value="Bill">Bill</option>
    <option value="Chris">Chris</option>
    <option value="David">David</option>
    <option value="Hank">Hank</option>
    <option value="Joe">Joe</option>
    <option value="Tristan">Tristan</option>
    <option value="Will">Will</option>
  </select>
  <br>
  Player 2:<br>
  <select name="player2">
    <option value="Alec">Alec</option>
    <option value="Bill">Bill</option>
    <option value="Chris">Chris</option>
    <option value="David">David</option>
    <option value="Hank">Hank</option>
    <option value="Joe">Joe</option>
    <option value="Tristan">Tristan</option>
    <option value="Will">Will</option>
  </select>
  <br>
  <input type="radio" name="winner" value="player1" checked> Player 1 <br>
  <input type="radio" name="winner" value="draw"> Draw <br>
  <input type="radio" name="winner" value="player2"> Player 2
  <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>

